 
  .tasks {
    width: 100%;
  }
  
  .task_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #868686;
    border-radius: 10px;
    padding: 13px 14px 10px;
    width: 100%;
    margin-bottom: 17px;
  }
  
  .left_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .donebtn {
    border: 1px solid #292929;
    background: white;
    border-radius: 50%;
    padding: 4px 4px;
    margin-right: 13px;
  }
  
  .donebtn:hover {
    background: rgba(129, 76, 197, 0.32);
    border: 1px solid #814cc5;
  }
  
  .tasktxt {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 243px;
    display: flex;
  }
  
  .right_side {
    margin-right: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .date {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }
  
  .delete_task {
    background: none;
    outline: none;
    border: none;
    margin-left: auto;
  }
  
  .delete_task:hover svg {
    fill: #814cc5;
  }
  
  .done {
    border: 1px solid #814cc5;
    border-radius: 50%;
    padding: 4px 4px;
    margin-right: 13px;
    background-color: #c497ff;
  }
  