.cleanbtn {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #868686;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    max-width: 100%;
    margin-left: auto;
    margin-top: 30px;
  }
  
  .cleanbtn_icon {
    margin-left: 10px;
  }
  
  .cleanbtn:hover {
    color: #814cc5;
  }
  
  .cleanbtn:hover svg {
    fill: #814cc5;
  }