@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: linear-gradient(90deg, #ff7bc7 -0.45%, #647dff 100%);
  cursor: default;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 68px;
  color: #292929;
  text-align: center;
  margin-bottom: 30px;
}

.list_body {
  max-width: 600px;
  background: #f8f9ff;
  border: 1px solid #868686;
  box-shadow: 28px 28px 50px -4px rgba(2, 12, 66, 0.1);
  border-radius: 25px;
  padding: 38px 37px 60px;
  margin: 1% auto 0;
  position: relative;
}

.list_body_content {
  max-width: 500px;
  margin: 0 auto;
}

.todo_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.exit {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 3px;
  background: #814cc5;
  border: 0.5px solid #814cc5;
  color: #f8f9ff;
  cursor: pointer;
}

.exit:hover {
  background: #4c2185;
}

.leaveArrow {
  margin-left: 10px;
}

.account_container {
  display: flex;
  align-items: center;
}

.user_name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ff649c;
  margin-left: 10px;
}

.menuItem_logout {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-right: 40px;
}
