.tasks {
  width: 100%;
}

.violet {
  font-size: 16px;
  padding: 3px 22px;
  border-radius: 3px;
  background: #814cc5;
  border: 0.5px solid #814cc5;
  color: #f8f9ff;
}

.common {
  font-size: 16px;
  padding: 3px 22px;
  border: 0.5px solid #292929;
  border-radius: 3px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  cursor: pointer;
}

.pagination button {
  cursor: pointer;
}

.pagination button + button {
  margin-left: 12px;
}

.pages {
  margin: 0 10px;
}

.pageNav:hover {
  fill: #814cc5;
}
